:root {
  font-size: 16px;
  --color-white: rgb(243, 224, 224);
  --color-primary: rgba(180, 58, 189, 0.463);
  --color-secondary: black;
  --font-size-mobile: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
* {
  box-sizing: border-box;
}

h3 {
  text-align: center;
}
h2 {
  float: left;
}

.heade {
  border: 1px;
  display: inline-block;
  width: 50%;
  background: rgb(59, 58, 58);
}
header {
  display: inline-block;
  width: 800px;
  height: 800px;
  background-image: url(./images/hero.jpg);
  border: 1px;
  background-color: black;
  color: white;
}
img {
  width: 100%;
  height: 100%;
}
.buttonplay {
  width: 100px;
  height: 100px;
}
.getstarted {
  background: rgb(43, 226, 186);
  color: white;
  width: 200px;
  height: 60px;
  margin-top: 400px;
  margin-left: 320px;
  font-style: initial\;;
}
.img-2 {
  background-color: #e4b581;
  width: 800px;
  height: 600px;
  float: left;
}
div.buttonplay {
  display: flex;
  justify-content: center;
}
.imgmain {
  width: 40%;
  height: 60%;
  margin-top: 35px;
  margin-left: 0px;
}
.h-2 {
  width: 35%;
  height: 10%;
  margin-bottom: 35px;
  margin-left: 50px;
}

img {
  margin-left: 750px;
  margin-top: 250px;
}
ul {
  list-style: none;
  display: inline-block;
  margin-left: 140px;
}
li {
  width: 112px;
  height: 5px;
  display: inline-block;
}
.img-3 {
  margin-left: 396px;
  margin-top: -759px;
  width: 400px;
  height: 565px;
}
.p-1 {
  width: 200px;
  height: 400px;
  margin-left: 20px;
}
.download {
  background-color: #e4b581;
  height: 57px;
  width: 186px;
}
.avatar {
  width: 800px;
  height: 600px;
  background-image: url(./images/tBG01.jpg);
}
.p-2 {
  margin-right: 20px;
  margin-left: 40px;
}
.avatar-1 {
  width: 100px;
  height: 100px;
  margin-left: 326px;
  margin-top: 120px;
}
.vongtron {
  height: 1000px;
  width: 1000px;
}
.list {
  width: 400px;
  height: 300px;
}
.text {
  width: 600px;
  height: 600px;
  display: inline-block;
  background: white;
}
.text-1 {
  width: 48%;
  height: 400px;
  background: #eeecec;
  display: inline-block;
}
.Try {
  background: pink;
  color: white;
  margin-left: 250px;
}
